html{
     box-sizing: border-box;
  background: #eeeeee;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(58, 167, 222));
}

body{
    margin: 10px;
    padding: 50px;
}
h1{
    font-size: 60px;
}

.mars-heading{
    color: #d33d1f;
}

.earth-heading{
    color:#2a8442
}